In [2]:
import pandas as pd

origdf = pd.read_csv('training_data.csv')
subm = pd.read_csv('data_submission_example.csv')

df = origdf.copy()

In [3]:
df.head(1).T

                                            0
CONTRACT_ID                          TpK8osXs
BORROWER_ID                          d8SqtuEV
CONTRACT_BANK_ID                     1d42bbf5
CONTRACT_CREDIT_INTERMEDIARY              2.0
CONTRACT_CREDIT_LOSS                      0.0
CONTRACT_CURRENCY                          31
CONTRACT_DATE_OF_LOAN_AGREEMENT       2457052
CONTRACT_DEPT_SERVICE_TO_INCOME           NaN
CONTRACT_FREQUENCY_TYPE              479a2e13
CONTRACT_INCOME                           NaN
CONTRACT_INSTALMENT_AMOUNT             9545.0
CONTRACT_INSTALMENT_AMOUNT_2          11059.0
CONTRACT_INTEREST_PERIOD                  NaN
CONTRACT_INTEREST_RATE                  22.08
CONTRACT_LGD                         175424.0
CONTRACT_LOAN_AMOUNT                   192161
CONTRACT_LOAN_CONTRACT_TYPE                 1
CONTRACT_LOAN_TO_VALUE_RATIO              NaN
CONTRACT_LOAN_TYPE                   69f70539
CONTRACT_MARKET_VALUE                     NaN
CONTRACT_MATURITY_DATE                2457798
CONTRACT_MORTGAGE_LENDING_VALUE           NaN
CONTRACT_MORTGAGE_TYPE                    NaN
CONTRACT_REFINANCED                       1.0
CONTRACT_RISK_WEIGHTED_ASSETS             1.0
CONTRACT_TYPE_OF_INTEREST_REPAYMENT       NaN
BORROWER_BIRTH_YEAR                    1217.0
BORROWER_CITIZENSHIP                     98.0
BORROWER_COUNTRY                         98.0
BORROWER_COUNTY                          20.0
BORROWER_TYPE_OF_CUSTOMER                   A
BORROWER_TYPE_OF_SETTLEMENT               NaN
TARGET_EVENT                                -
TARGET_EVENT_DAY                          NaN

In [4]:

# HITELKÖZVETÍTŐ - 4 FAJTA
# 960 NaN
# igen, nemm egyéb, nem tudni
df['CONTRACT_CREDIT_INTERMEDIARY'].value_counts()
#df['CONTRACT_CREDIT_INTERMEDIARY'] = df['CONTRACT_CREDIT_INTERMEDIARY'].fillna('N')

CONTRACT_CREDIT_INTERMEDIARY
2.0        1069644
1.0         454073
20001.0      18654
0.0            960
Name: count, dtype: int64

In [3]:
df['CONTRACT_BANK_ID'].value_counts()

CONTRACT_BANK_ID
1d42bbf5    553874
caa130b5    229117
bd940aa2    133187
f789f8b0    131126
2c6f5579     99995
             ...
10b110f3         5
d4cdedfe         5
85764f78         4
95e75ed5         2
e9e18710         2
Name: count, Length: 136, dtype: int64

In [5]:
# HITEL VESZTESÉG 
# 389125 NaN vagy 0
df['CONTRACT_CREDIT_LOSS'].value_counts()

CONTRACT_CREDIT_LOSS
0.0         389125
206027.0      3664
731521.0       635
2442.0         531
3909.0         457
             ...
67806.0          1
551479.0         1
127895.0         1
75259.0          1
671335.0         1
Name: count, Length: 165007, dtype: int64

In [6]:
# DEVIZAESZKÖZ - 3 FAJTA
df['CONTRACT_CURRENCY'].value_counts()

CONTRACT_CURRENCY
31    1602691
24         37
14         25
Name: count, dtype: int64

In [7]:
# adósság/jövedelem arány
# 0.0  389125
df['CONTRACT_DEPT_SERVICE_TO_INCOME'].value_counts()

CONTRACT_DEPT_SERVICE_TO_INCOME
0.00      37284
49.46       646
49.43       629
49.47       625
49.41       613
          ...
82.06         1
66.51         1
171.89        1
93.07         1
112.13        1
Name: count, Length: 11367, dtype: int64

In [8]:
# Törlesztés gyakorisága: évente, félévente,negyedéves,havonta(479a2e13), kéthetente, hetente, naponta, egy összegben, egyéb
# 8 fajta
# havonta: személyi kölcsön, jelzáloghitel, autó
# féléves : diákhitel, kereskedelmi kölcsön
# hetente/kéthetente: részetfizetés
df['CONTRACT_FREQUENCY_TYPE'].value_counts()

CONTRACT_FREQUENCY_TYPE
479a2e13    1477500
2f88e16c      58702
87db11f5      47152
3265c5b7      17386
ad534644       1616
89efd382        337
2aebe4cb         53
bd092d5a          7
Name: count, dtype: int64

In [9]:
# 39179 NaN
df['CONTRACT_INCOME'].value_counts()

CONTRACT_INCOME
0.0         39179
1.0           518
2.0            51
85821.0        21
85214.0        21
            ...
595553.0        1
493575.0        1
273729.0        1
316621.0        1
414567.0        1
Name: count, Length: 410880, dtype: int64

In [10]:
# TÖRLESZTŐÖSSZEG
# 0.0  25856
df['CONTRACT_INSTALMENT_AMOUNT'].value_counts()

CONTRACT_INSTALMENT_AMOUNT
0.0          25856
9917.0          33
8708.0          32
9912.0          31
9940.0          31
             ...
69197.0          1
45869.0          1
1767859.0        1
56375.0          1
418.0            1
Name: count, Length: 61334, dtype: int64

In [11]:
# 0.0  50214
df['CONTRACT_INSTALMENT_AMOUNT_2'].value_counts()

CONTRACT_INSTALMENT_AMOUNT_2
0.0          50214
9926.0         113
9934.0         113
9985.0         109
9902.0         107
             ...
181434.0         1
79471.0          1
267987.0         1
1435741.0        1
146483.0         1
Name: count, Length: 158047, dtype: int64

In [13]:
#FUTAMIDŐ
# 0.0  199656
df['CONTRACT_INTEREST_PERIOD'].value_counts()

CONTRACT_INTEREST_PERIOD
0.0       199656
61.0      128860
3.0       119537
12.0       70644
85.0       66000
           ...
1400.0         1
1474.0         1
796.0          1
448.0          1
1052.0         1
Name: count, Length: 1038, dtype: int64

In [15]:
#KAMATLÁB
# 0.0  110269
df['CONTRACT_INTEREST_RATE'].value_counts()

CONTRACT_INTEREST_RATE
0.00     110269
6.13       3223
6.08       3176
6.11       3102
6.10       3088
          ...
39.32         1
42.01         1
94.86         1
63.31         1
37.97         1
Name: count, Length: 4322, dtype: int64

In [16]:
# HITELKOCKÁZAT - SZÁZALÉKOS ÉRTÉK, A TELJES TŐKEÖSSZEG HÁNYADA
# NEMTÖRLESZTÉS ESETÉN 

df['CONTRACT_LGD'].value_counts()

CONTRACT_LGD
0.0         2104
3.0           18
4.0           17
99464.0       16
99254.0       16
            ...
819534.0       1
54984.0        1
643229.0       1
984279.0       1
266727.0       1
Name: count, Length: 879303, dtype: int64

In [18]:
# szerződés típusa
# 8 fajta
#személyi kölcsön, jelzáloghitel, származtatott ügyletek,
#befektetési kölcsön, biztosítási kölcsön, hitel nemteljesítési csereügylet
#visszavásárlási megállapodés, határidős ügylet
df['CONTRACT_LOAN_CONTRACT_TYPE'].value_counts()

CONTRACT_LOAN_CONTRACT_TYPE
1     628128
2     377927
12    364821
3      81180
11     56760
9      49639
6      33077
4      11221
Name: count, dtype: int64

In [19]:
#LVT ARÁNY
# hitelösszeg és a finanszírozott eszköz 
# becsült értékének vagy vételárának arányát
df['CONTRACT_LOAN_TO_VALUE_RATIO'].value_counts()

CONTRACT_LOAN_TO_VALUE_RATIO
0.95      1000
0.99       974
1.05       948
1.13       947
1.08       939
          ...
120.10       1
106.66       1
112.33       1
117.51       1
146.40       1
Name: count, Length: 11662, dtype: int64

In [21]:
#hitel fajta(ezekhez van külön szerződés típus)
df['CONTRACT_LOAN_TYPE'].value_counts()

CONTRACT_LOAN_TYPE
b503a0de    1008064
1f951336     157973
d3aaffde      90930
7e2065f4      88126
69f70539      68104
2f88e16c      58702
955ae3ef      57006
cf07c2dd      36335
5a06241e      21028
83910425       6920
694cbaee       3497
0aeb4094       2764
eab72d7a       2310
95c4f8fb        571
f792971b        240
cde77491        106
47693941         74
8fe006f1          3
Name: count, dtype: int64

In [26]:
#jelzáoghitel ami nem haladhatja meg az ingatlan jövőbeni becsült értékét
df['CONTRACT_MORTGAGE_LENDING_VALUE'].value_counts()

CONTRACT_MORTGAGE_LENDING_VALUE
0.0          45501
1.0            369
2.0             42
5235447.0       15
5369134.0       15
             ...
5566818.0        1
1749471.0        1
5427376.0        1
2348826.0        1
185164.0         1
Name: count, Length: 271960, dtype: int64

In [28]:
df['CONTRACT_MORTGAGE_TYPE'].value_counts()

CONTRACT_MORTGAGE_TYPE
4.0     273203
46.0    103949
8.0      39546
5.0      25964
48.0     22388
45.0     21219
7.0      20597
6.0      17986
0.0       5209
44.0      4614
1.0       2306
13.0       450
41.0       141
47.0       120
42.0       110
43.0        12
3.0          2
10.0         1
Name: count, dtype: int64

In [30]:
#conttract credit intermediary
#igen, nem, egyéb, nem tudni
df['CONTRACT_REFINANCED'].value_counts()

CONTRACT_REFINANCED
2.0        1405958
1.0         119039
10001.0      17374
0.0            960
Name: count, dtype: int64

In [31]:
# kockázattal súlyozott eszközök
df['CONTRACT_RISK_WEIGHTED_ASSETS'].value_counts()

CONTRACT_RISK_WEIGHTED_ASSETS
1.02      30136
0.97      29951
0.99      29935
0.98      29816
1.00      29790
          ...
306.50        1
686.64        1
278.12        1
208.03        1
157.62        1
Name: count, Length: 23085, dtype: int64

In [33]:
# kamattörlesztés típusa
#  8 fajta, 131310 NaN
# egyszerű kamat, kamatos kamat, kamatperiódusonként változó kamat,fix kamat,
df['CONTRACT_TYPE_OF_INTEREST_REPAYMENT'].value_counts()

CONTRACT_TYPE_OF_INTEREST_REPAYMENT
100003.0    673991
100004.0    335509
0.0         131310
100002.0    117351
110001.0     34341
100001.0     33590
140003.0     19728
140001.0     13085
140002.0     10886
Name: count, dtype: int64

In [35]:
#hitelfelvevő típusa, 2 fajta
#  risk / no risk or individual / corporate
df['BORROWER_TYPE_OF_CUSTOMER'].value_counts()

BORROWER_TYPE_OF_CUSTOMER
A    1323955
B     278798
Name: count, dtype: int64

In [37]:
# szerződési feltételek
df['BORROWER_TYPE_OF_SETTLEMENT'].value_counts()

BORROWER_TYPE_OF_SETTLEMENT
3.0    319946
4.0    302494
7.0    184915
1.0    155359
2.0     42256
5.0     32964
6.0     19644
0.0     16551
Name: count, dtype: int64

In [2]:
# KORRELÁCIÓS MÁTRIX
import seaborn as sns
import matplotlib.pyplot as plt

corr_df = df.drop(['CONTRACT_ID','BORROWER_ID','CONTRACT_BANK_ID'], axis=1)

In [3]:



corr = corr_df.corr()
plt.figure(figsize=(20,20))
sns.heatmap(corr, annot=True, fmt='.2f')

ValueError: could not convert string to float: '479a2e13'

Nézzük meg milyen összefüggés van a változók és a hitel bukása között

In [1]:
import pandas as pd

origdf = pd.read_csv('training_data.csv')
subm = pd.read_csv('data_submission_example.csv')

In [2]:
df = origdf.copy()

In [8]:
eltolas = df['CONTRACT_DATE_OF_LOAN_AGREEMENT'].min()
df['CONTRACT_DATE_OF_LOAN_AGREEMENT'] = df['CONTRACT_DATE_OF_LOAN_AGREEMENT']-eltolas
df['TARGET_EVENT_DAY']=df['TARGET_EVENT_DAY']-eltolas

In [39]:
def datagen_modeA(origdf, startnap, endnap):
    df2 = origdf[origdf['CONTRACT_DATE_OF_LOAN_AGREEMENT']>=startnap].copy()
    df = df2[df2['CONTRACT_DATE_OF_LOAN_AGREEMENT']<endnap].copy()
    
    
    # TARGET VALTOZO 
    feltetel = (df['TARGET_EVENT_DAY']>endnap) & (df['TARGET_EVENT_DAY']<endnap+2*365) & (df['TARGET_EVENT'] == 'K')
    df['target'] = 0
    df.loc[feltetel,'target']=1
    
    return df
    
    #cust_df = pd.DataFrame({'BORROWER_ID':df['BORROWER_ID'].unique()})
    
    #target_df = origdf[origdf['CONTRACT_DATE_OF_LOAN_AGREEMENT']>=endnap]
    #target_df = target_df[target_df['CONTRACT_DATE_OF_LOAN_AGREEMENT']<endnap+2*365]
    #target_df['target_int'] = target_df['TARGET_EVENT'].map({'-':0,'E':0,'K':1})
    #stat = target_df.groupby('BORROWER_ID',as_index=False).agg({'target_int':'max'})
    #cust_df = cust_df.merge(stat,on='BORROWER_ID',how='left')
    
    #return cust_df

target_df = datagen_modeA(df,0,365)

In [49]:
#target_df to csv
target_df.to_csv('target_df.csv',index=False)

In [24]:
# label encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
target_df['CONTRACT_CREDIT_INTERMEDIARY'] = le.fit_transform(target_df['CONTRACT_CREDIT_INTERMEDIARY'])
target_df['CONTRACT_CREDIT_INTERMEDIARY'].value_counts()

CONTRACT_CREDIT_INTERMEDIARY
2    301555
1    146246
4     45308
3      5655
0       960
Name: count, dtype: int64

In [48]:
target_df.isna().sum()

CONTRACT_ID                                 0
BORROWER_ID                                 0
CONTRACT_BANK_ID                            0
CONTRACT_CREDIT_INTERMEDIARY            45308
CONTRACT_CREDIT_LOSS                    14240
CONTRACT_CURRENCY                           0
CONTRACT_DATE_OF_LOAN_AGREEMENT             0
CONTRACT_DEPT_SERVICE_TO_INCOME         83719
CONTRACT_FREQUENCY_TYPE                     0
CONTRACT_INCOME                         82499
CONTRACT_INSTALMENT_AMOUNT             213093
CONTRACT_INSTALMENT_AMOUNT_2            21000
CONTRACT_INTEREST_PERIOD               237378
CONTRACT_INTEREST_RATE                  12867
CONTRACT_LGD                            12283
CONTRACT_LOAN_AMOUNT                        0
CONTRACT_LOAN_CONTRACT_TYPE                 0
CONTRACT_LOAN_TO_VALUE_RATIO           390478
CONTRACT_LOAN_TYPE                          0
CONTRACT_MARKET_VALUE                  329632
CONTRACT_MATURITY_DATE                      0
CONTRACT_MORTGAGE_LENDING_VALUE        326713
CONTRACT_MORTGAGE_TYPE                 326713
CONTRACT_REFINANCED                     45308
CONTRACT_RISK_WEIGHTED_ASSETS           12283
CONTRACT_TYPE_OF_INTEREST_REPAYMENT    187404
BORROWER_BIRTH_YEAR                     21203
BORROWER_CITIZENSHIP                    21203
BORROWER_COUNTRY                        21203
BORROWER_COUNTY                         74971
BORROWER_TYPE_OF_CUSTOMER                   0
BORROWER_TYPE_OF_SETTLEMENT            275141
TARGET_EVENT                                0
TARGET_EVENT_DAY                       471993
target                                      0
dtype: int64

In [ ]:
import matplotlib.pyplot as plt
# plot target in different plots for each feature

for c in target_df.columns:
    if c not in ['BORROWER_ID','CONTRACT_ID','CONTRACT_BANK_ID','target']:
        plt.figure(figsize=(10,10))
        plt.scatter(target_df[c],target_df['target'],color='green')
        plt.title(c)
        plt.show()

In [50]:
df['CONTRACT_TYPE_OF_INTEREST_REPAYMENT'].value_counts()

CONTRACT_TYPE_OF_INTEREST_REPAYMENT
100003.0    673991
100004.0    335509
0.0         131310
100002.0    117351
110001.0     34341
100001.0     33590
140003.0     19728
140001.0     13085
140002.0     10886
Name: count, dtype: int64